<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>Document</title>
        <link rel="stylesheet" href="../public/stylesheets/apply.page.css">
    </head>
    <body>
        <nav>
            <div>
                <span>PostHall</span>
            </div>
            <div style="justify-content: flex-end;">
                <a href="./login.page.html" title="log into account">Log In</a>
            </div>
        </nav>
        <main>
            <form accept-charset="UTF-8" method="post" action="#">
                <br>
                <h1>sign in </h1>
                <br>
                <input type="text" name="first name" placeholder="*First name" id="first name" required title="first name" >
                <br>
                <br>
                <input type="text" name="last name" placeholder="*Last name" id="last name" required title="last name">
                <br>
                <br>
                <input type="email" name="email" placeholder="*Email" id="email" required title=" Email">
                <br>
                <br>
                <input type="password" name="password" placeholder="*Password" id="password" required title="Password">
                <br>
                <br>
                <span>You can log into an  if available!</span>
                <br>
                <br>
                <button type="submit" id="submit" class="submit" name="submit" title="submit">sign in </button>
            </form>
        </main>
        <footer>
            <div>
                <ul>
                    <li><a href="./posts.page.html">&#10094</a></li>
                    <li><a href="./about.page.html">About</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Made by <a href="#" title="developer">Robb</a></span>
            </div>
        </footer>
    </body>
</html>