<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>Document</title>
        <link rel="stylesheet" href="../public/stylesheets/profile.page.css">
        <!-- <script src="../../../src/view/public/script/posts.page.js" type="module" defer></script> -->
    </head>
    <body> 
        <main>
            <section>
                <div>
                    <img src="" alt="" srcset="">
                    <!-- we need a dummy img to place here -->
                </div>
                <br>
                <h1>John Doe</h1>
                <p>JohnDoe123@gmail.com</p>
                <p>Friends: <span>12</span></p>
                <p>Points: <span>123</span></p>
                <br>
                <p>Created: <span>12/07/2024 11:45</span></p>
            </section>
        </main>
        <footer>  
            <div>
                <ul>
                    <li><a href="./posts.page.html">&#10094</a></li>
                    <li><a href="./about.page.html">About</a></li>
                    <li><a href="#">GitHub</a></li>
                    <!-- https://github.com/testgithubrobert/blog-api -->
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Logged in user profile: <a href="#" id="logged-in-user">none</a></span>
            </div>
        </footer>
    </body>
</html>