<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found!</title>
    <link rel="stylesheet" href="../../stylesheets/404.page.css">
    <script src="../../script/404.page.js" type="module" defer></script>
</head>
<body>
    <section>
        <h1>404 ERROR: Page Not Found</h1>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque placeat deleniti cupiditate dicta optio nisi explicabo officia laudantium, nobis totam, itaque quaerat quod nam laboriosam sunt id libero. Ipsum consequuntur quod aliquam rerum repellendus, enim veritatis dolor accusantium praesentium inventore?</p>
        <br>  
        <ul>
            <span>Try:</span>
            <li>Finding another query</li>
            <li>Finding another page</li>
        </ul>
        <br>
        <button type="button" title="Reload page">Reload Page</button>
    </section>
</body>
</html>