<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>Document</title>
        <link rel="stylesheet" href="../../stylesheets/about.page.css">
    </head>
    <body>
        <nav>
            <div> 
                <span>PostHall</span>
            </div>
            <div style="justify-content: flex-end;">
                <a href="http://127.0.0.1:3000/application.com/signin?query=signin" title="sign in new account">sign in </a>
            </div>
        </nav>
        <main>
            <h1>About this application</h1>
            <br>
            <p></p>
        </main>
        <footer>  
            <div>
                <ul>
                    <li><a href="http://127.0.0.1:3000/application.com/posts?query=posts">&#10094</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Made by <a href="#" title="developer">Robb</a></span>
            </div>
        </footer>
    </body>
</html>