<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>register acount</title>
        <link rel="stylesheet" href="../../stylesheets/apply.page.css">
        <script type="module" src="../../script/apply.page.js" defer></script>
    </head>
    <body>
        <nav>
            <div>
                <span>PostHall</span>
            </div>
            <div style="justify-content: flex-end;">
                <a href="/application.com/login?query=login" title="log into account">Log In</a>
            </div>
        </nav>
        <main>
            <form accept-charset="UTF-8" method="post" action="#">
                <br>
                <h1>sign in </h1>
                <br>
                <input type="text" name="first_name" placeholder="*First name" id="first_name" required title="first name" >
                <br>
                <br>
                <input type="text" name="last_name" placeholder="*Last name" id="last_name" required title="last name">
                <br>
                <br>
                <input type="email" name="email" placeholder="*Email" id="email" required title=" Email">
                <br>
                <br>
                <input type="password" name="password" placeholder="*Password" id="password" required title="Password" maxlength="15">
                <br>
                <br>
                <span class="password-strength">Enter a strong password</span>
                <br>
                <br>
                <button type="submit" id="submit" class="submit" name="submit" title="submit">sign in</button>
            </form>
        </main>
        <footer>
            <div>
                <ul>
                    <li><a href="/application.com/posts?query=posts">&#10094</a></li>
                    <li><a href="/application.com/about?query=about">About</a></li>
                    <li><a href="https://github.com/testgithubrobert/hall-application">GitHub</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Made by <a href="#" title="developer">Robb</a></span>
            </div>
        </footer>
    </body>
</html>