<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>Login</title>
        <link rel="stylesheet" href="../../stylesheets/login.page.css">
    </head>
    <body>
        <nav>
            <div>
                <span>PostHall</span>
            </div>
            <div style="justify-content: flex-end;">
                <a href="/application.com/signin?query=signin" title="sign in new account">sign in </a>
            </div>
        </nav>
        <main>
            <form accept-charset="UTF-8" method="post" action="#">
                <br>
                <h1>Log In</h1>
                <br>
                <input type="email" name="email" placeholder="*Email" id="email" required title="email">
                <br>
                <br>
                <input type="password" name="password" placeholder="*Password" id="password" required title="password" maxlength="15">
                <br>
                <br>
                <span>You can sign in for a new account if not available!</span>
                <br>
                <br>
                <button type="submit" id="submit" class="submit" name="submit" title="log in">Log In</button>
            </form>
        </main>
        <footer>  
            <div>
                <ul>
                    <li><a href="/application.com/posts?query=posts">&#10094</a></li>
                    <li><a href="/application.com/about?query=about">About</a></li>
                    <li><a href="https://github.com/testgithubrobert/hall-application">GitHub</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Made by <a href="#" title="developer">Robb</a></span>
            </div>
        </footer>
    </body>
</html>