<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>Document</title>
        <link rel="stylesheet" href="../../stylesheets/people.page.css">
        <script type="module" src="../../script/people.page.js" defer></script>
    </head>
    <body>
        <nav>  
            <span>People</span>
        </nav>
        <main>
            <br>
            <div id="loader"></div>
        </main> 
        <footer>  
            <div> 
                <ul>
                    <li><a href="/application.com/posts?query=posts">&#10094</a></li>
                    <li><a href="/application.com/about?query=about">About</a></li>
                    <li><a href="/application.com/login?query=login">Log in</a></li>
                    <li><a href="/application.com/signin?query=signin">sign in</a></li>
                    <li><a href="https://github.com/testgithubrobert/hall-application">GitHub</a></li> 
                    <!-- https://github.com/testgithubrobert/blog-api -->
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Logged in user profile: <a href="/application.com/profile?query=profile" id="logged-in-user">No profile!</a></span>
            </div>
        </footer>
    </body>
</html>