<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="backend-developer" content="">
        <meta name="frontend-developer" content="">
        <title>Document</title>
        <link rel="stylesheet" href="../../stylesheets/profile.page.css">
        <script src="../../script/profile.page.js" type="module" defer></script>
    </head>
    <body> 
        <main>
            <section>
                <div>
                    <img src="../../img/profile-image.png" alt="">
                    <!-- we need a dummy img to place here -->
                </div>
                <br>
                <h1>No profile!</h1>
                <p>example@gmail.com</p>
                <p>Friends: <span>0</span></p>
                <p>Points: <span>0</span></p>
                <br>
                <p>Created: <span>date time</span></p>
            </section>
        </main>
        <footer>  
            <div>
                <ul>
                    <li><a href="/application.com/posts?query=posts">&#10094</a></li>
                    <li><a href="/application.com/about?query=about">About</a></li>
                    <li><a href="https://github.com/testgithubrobert/hall-application">GitHub</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
            <div style="justify-content: flex-end;">
                <span>Logged in user profile: <a href="#" id="logged-in-user">No profile!</a></span>
            </div>
        </footer>
    </body>
</html>